
.widget-icon,
.menu-icon,
.icon {
    color: #fff;
    cursor: pointer;
}

.dropdown-main{
    top: 100%;
    left: 0;
    background-color: #d5ed26;
   
}

.nav-links {
    display: block;

    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 1rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.menu-icon {
    display: none;
    margin-left:10px;
}

.icons {
    display: flex;
    margin-left: auto;
}

.icon:not(:last-child) {
    margin-right: 1rem;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;

        flex-direction: column;
    }

    .nav-links li {
        margin: 0;
        padding: 0.5rem 1rem;
    }

    .menu-icon {
        display: block;
    }
    .dropdown-main{

        z-index: 1;
        position: absolute;

    }
}
.container-item{
    position: relative;

}
.upper{
    border-bottom: 1px solid #333;
    position: relative;
}
.item-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 60px;
   
    letter-spacing: 0.1rem;
}
.w-small{
width: 35%;
}
.w-large{
width:65%;
}
.arrow-border {
    border: 20px solid transparent;
    border-right: 10px solid #000000;
    border-left: 20px solid #000000;
    transform: skewX(-30deg) rotate(-45deg);
  }


  /* Pop up form */

  .modal-content {
    color: #fff;
  }
  
  .modal-content input {
    height: 57px;
    border-radius: 0px;
  }
  
  .modal-content .btn-primary {
    width: 175px;
    background-color: #ef9919;
    border: 0px;
  }
  
  .modal-content .btn-primary:hover {
    background-color: #0073b7;
    border: 0px;
  }
  
  .modal-content .logorow {
    text-align: center;
  }
  
  .offmodal{
    display: none;
    transition: display 1s ease-in-out;
}

.onmodal{
    display: block;
    transition: display 1s ease-in-out;
}

#modalpop::before{
    content: "";
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    user-select: none;
}

.modal-container{
    border: 1px solid darkgray;
    width: 75%;
    height: 75%;
    margin: auto;
    background-color: white;
    position: fixed;
    /* top: 20%;
    left: 8%; */
    z-index: 2;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    top: 50%;
    left: 50%;

    -webkit-transform:translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    font-size: .8rem;
}

.modal-container header{
    border: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
}

.modal-container h2{
    margin: 15px;
}

.modal-body{
    padding: 5px;
}

.closet{
    text-align: center;
    width: 50px;
    background-color: rgba(38, 38, 40, 0.92);
    display: block;
   
    text-decoration: none;
    font-size: xx-large;
    padding: 8px;
    
}
/*end of pop up form  */