@tailwind base;
@tailwind components;
@tailwind utilities;

/* Login Page */
.guest-layout-bg{
    background-image: url('../img/login.png');
    background-repeat: no-repeat;
    background-size: cover;
}